
<%# #Inherits from layout.erb %>
    



<div data-role="header" data-position="inline">

	<a href="/home" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-bars ui-btn-icon-notext"></a>
	<span class="ui-title">
		Lift App prototype | Invitations
	</span>

</div>


<div data-role="content" data-theme="a">

	<ul data-role="listview" data-inset="true">

		<% for invite in @invites %>

		<li>
				<a href="/invitation/<%= invite.id %>" data-ajax="false" >
					<h2><%= invite.trip.user.firstname %></h2>
					<p>
						<strong>Invitation title</strong>
					</p>
					<p>
						Invitation message
					</p>
					<p class="ui-li-aside">
						<strong>0:00</strong>PM
					</p>
				</a>
		</li>

		<% end %>

	</ul>
	

</div>


