
<%# #Inherits from layout.erb %>




<div data-role="header" data-position="inline">

	<h1>Lift App prototype</h1>

</div>


<div data-role="content" data-theme="a">

	<a class="login-fb ui-btn ui-corner-all" href='http://localhost:4567/auth/facebook' data-ajax="false">Log in with Facebook</a>

</div>




